<body class="inventory-body">
    <div class="container">
        <div>
            <div class="text-center">
                <br><br><br><br><br>
                <h1>Lista dostupnih pregleda</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Redni broj</th>
                            <th style="text-align: center;">Datum i vreme pregleda</th>
                            <th style="text-align: center;">Tip</th>
                            <th style="text-align: center;">Trajanje</th>
                            <th style="text-align: center;">Sala</th>
                            <th style="text-align: center;">Lekar</th>
                            <th style="text-align: center;">Klinika</th>
                            <th style="text-align: center;">Popust</th>
                            <th style="text-align: center;">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of examinations; let i = index">
                            <th style="text-align: center;" scope="row">{{i+1}}</th>
                            <td style="text-align: center;">{{e.medium}} {{e.time}}</td>
                            <td style="text-align: center;">{{e.typeOfExamination.name}}</td>
                            <td style="text-align: center;">{{e.duration}} min</td>
                            <td style="text-align: center;">{{e.hall}}</td>
                            <td style="text-align: center;">{{e.doctor.name}}</td>
                            <td style="text-align: center;">{{e.doctor.clinic.name}}</td>
                            <td style="text-align: center;">{{e.discount}} €</td>
                            <td style="text-align: center;">{{e.typeOfExamination.price}} €</td>
                            <td style="text-align: center;"><button class="btn btn-link"
                                    (click)="scheduleFreeExamination(e)">Zakazi pregled</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>