<body class="inventory-body">
    <div class="container">
        <div>
            <div id="divLogin" class="text-center">
                <br><br><br><br><br>
                <h1>Podaci o korisniku</h1>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Ime:</label>
                            <input class="form-control" placeholder="Unesite ime" name="username"
                                [(ngModel)]="currentUser.name" [ngModelOptions]="{standalone:true}">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Prezime:</label>

                            <input class="form-control" placeholder="Unesite prezime"
                                [(ngModel)]="currentUser.surname" [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">

                            </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>E-mail:</label>

                            <input class="form-control" disabled [(ngModel)]="currentUser.email"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Adresa: </label>
                            <input class="form-control" placeholder="Unesite adresu"
                                [(ngModel)]="currentUser.address" [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Grad: </label>
                            <input class="form-control" placeholder="Unesite grad" [(ngModel)]="currentUser.city"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3"></div>
                    <div class="col-md-6">
                            
                        <div class="form-group">
                            <label>Drzava:</label>
                            <input class="form-control" placeholder="Unesite državu"
                                [(ngModel)]="currentUser.country" [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Broj telefona:</label>
                            <input class="form-control" id="mail" placeholder="Unesite broj telefona"
                                [(ngModel)]="currentUser.phoneNumber" [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Jedinstveni broj:</label>
                            <input class="form-control" id="mail" placeholder="Unesite broj" disabled
                                [(ngModel)]="currentUser.uniqueNumber" [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pwd">Nova lozinka: </label>
                            <input type="password" class="form-control" placeholder="Unesite novu lozinku" [(ngModel)]="newPassword" 
                            [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="pwd">Ponovite novu lozinku:</label>
                            <input type="password" class="form-control" placeholder="Ponovo unesite novu lozinku" [(ngModel)]="repeatPassword" 
                            [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="form-group row " > -->
                        <div class=" text-center" >
                            <button type="submit" (click)="changeData()" class="btn btn-secondary" >Izmeni
                                podatke</button>
                        </div>
                        <!-- <div class=" text-center"> -->
                            <!-- <button (click)="odustani()" class="btn btn-secondary "  >Odustani</button> -->
                        <!-- </div> -->
                    <!-- </div> -->

                </div>
            </div>
        </div>
    </div>

</body>