<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<div class="container">
	<div class="row clearfix">
		<h4>Medical record </h4>
        

        <div class="col-md-12 table-responsive">
			<h4>Disease history: </h4>
			<ul>
				<li  *ngFor="let disease of medicalRecord.diseaseHistory">
                   {{disease.name}}
                </li>	
            </ul>
		</div>
	</div>


	<div class="row clearfix">
		<div class="col-md-12 table-responsive">
			<h4>Examination history: </h4>
			<table class="table table-bordered table-hover table-sortable" id="tab_logic">
				<thead>
					<tr>
						<th class="text-center">
							Date
						</th>
						<th class="text-center">
							Doctor
						</th>
						<th class="text-center">
							Type
						</th>
						<th class="text-center">
							Duration(min)
						</th>
						<th class="text-center">
							Price
						</th>
						<th class="text-center">
							Clinic
						</th>
						<th class="text-center">
							Medical room
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id='addr0' data-id="0" class="hidden" *ngFor="let examination of examinations">
						<td data-name="name">
							<input type="text" disabled name='name0' class="form-control" [value]="examination.date" />
						</td>
						<td data-name="mail">
							<input type="text" disabled name='mail0' class="form-control" [value]="examination.doctorUsername" />
						</td>
						<td data-name="desc">
							<input name="desc0" disabled class="form-control" [value]="examination.type" />
						</td>
						<td data-name="desc">
							<input name="desc0" disabled class="form-control" [value]="examination.duration" />
						</td>
						<td data-name="desc">
							<input name="desc0" disabled class="form-control" [value]="examination.price" />
						</td>
						<td data-name="desc">
							<input name="desc0" disabled class="form-control" [value]="examination.clinic" />
						</td>
						<td data-name="desc">
							<input name="desc0" disabled class="form-control" [value]="examination.medicalRoom" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>