@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;

}


#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: rgb(0, 105, 255);
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: white;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: rgb(0, 105, 255);
        border-radius: 50%;
        text-align: center;
        color: white;      
        font-size: 11px;      
        width: 150px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: rgb(0, 105, 255);
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: white;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
}

.moreLink {
    color: white;
    cursor: pointer;
}

.dropdown-item {
    background-color: rgba(46,61,73,0.5);
    color: white;
    cursor: pointer;
}
#dropdownMenuButton {
    background-color: black;
    color: white;
}