<body class="inventory-body">
    <div class="container">
        <div class="text-center">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1>Klinicki Centar</h1>

            <!-- <ul class="nav nav-tabs nav-justified" id="listanav"> -->

            
                <!-- <li class="nav-item" > -->
                    <button class="btn btn-secondary pull-left" (click)="registrationClick()">Registracija</button>
                <!-- </li> -->
                <!-- <li class="mx-2 px-2"></li> -->
                
                <!-- <li class="mx-2"></li> -->
                <!-- <li class="nav-item" ml-5 pt-1> -->
                    <button class="btn btn-secondary pull-right" (click)="loginClick()">Prijava</button>
                <!-- </li> -->
    
            <!-- </ul> -->

        </div>
    </div>

</body>