<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

     <div class="container">
         <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron ">
                  <h1 class="display-4">Online medical center</h1>
                  <p class="lead">This is a simple online medical center. You can reserve medical examination you want in just a few steps!</p>
                  <hr class="my-4">
                  <p>Don't have an accont? Register right now!</p>
            </div>
         </div>
        </div>
     </div>