<body class="inventory-body">
    <div class="container">
        <br><br><br>
        <div class="text-center">

            <br><br>
            <h1>Klinike</h1>
        
            <table class="table table-striped sortable-table" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th mat-sort-header="name">Ime</th>
                        <th mat-sort-header="address">Adresa</th>
                        <th mat-sort-header="description">Opis</th>
                        <th mat-sort-header="city">Grad</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let clinics of sortedData">
                        <td style="text-align: left;">{{clinics.name}}</td>
                        <td style="text-align: left;">{{clinics.address}}</td>
                        <td style="text-align: left;">{{clinics.description}}</td>
                        <td style="text-align: left;">{{clinics.city}}</td>
                    </tr>
                </tbody>
            </table>

            

        </div>


    </div>

</body>